// Variables and overrides here
@import "../imports/ui/colors";

// Imports here
@import "{bduff9:bulma}/bulma.scss";

// Custom styles here
html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  background-color: #FFE985;

  .section {
    background: none;
  }

  .is-danger {
    color: #ff3860;
  }

  .is-bold {
    font-weight: 700;
  }
}
