// Variables and overrides here

// Imports here
@import "../node_modules/bulma/bulma.scss";

// Custom styles here
body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: 20px;
      font-weight: 300;

}
